/*
Error: Invalid CSS after "@charset "utf-8"": expected "{", was ";"
        on line 4 of css/main.scss

1: ---
2: # Only the main Sass file needs front matter (the dashes are enough)
3: ---
4: @charset "utf-8";
5: 
6: @import 'normalize.scss';

Backtrace:
css/main.scss:4
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/scss/parser.rb:1207:in `expected'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/scss/parser.rb:1137:in `expected'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/scss/parser.rb:1132:in `tok!'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/scss/parser.rb:665:in `block'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/scss/parser.rb:658:in `ruleset'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/scss/parser.rb:684:in `block_child'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/scss/parser.rb:41:in `parse'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/engine.rb:406:in `_to_tree'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `each'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/plugin.rb:109:in `method_missing'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/gems/sass-3.4.24/bin/sass:13:in `<top (required)>'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/bin/sass:23:in `load'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/bin/sass:23:in `<main>'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `eval'
/Users/johnphillips/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@charset \"utf-8\"\": expected \"{\", was \";\"\A         on line 4 of css/main.scss\A \A 1: ---\A 2: # Only the main Sass file needs front matter (the dashes are enough)\A 3: ---\A 4: @charset \"utf-8\";\A 5: \A 6: @import 'normalize.scss';"; }
